body {
    overflow-x: hidden;
}

.row {
    display: flex;
    justify-content: center !important;
    margin-block: 2em;
}

.inputs {
    font-size: 1.5em;
}

input {
    margin-bottom: 1em !important;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #000000;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

